a {
  text-decoration: none;
}
.sidecontent {
  mat-icon {
    cursor: pointer;
  }
}
mat-sidenav{
    width: 200px;
    cursor: pointer;
    position: fixed;
    top: 65px;
    z-index: 1000;
}
mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}