<div class="card border-primary mb-3">
  <div class="card-header bg-primary text-white ">Consulta Horario</div>
  <div class="card-body text-dark">
      <h3 class="card-title">Horario</h3>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Horas</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sabado</th>
        </tr>
      </thead>

      <tbody>
        <tr>6:00 a.m
          <td>Matematicas</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>7:00 a.m
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Fisica</td>
          <td></td>
        </tr>
        <tr>8:00 a.m
          <td></td>
          <td></td>
          <td>Eticas</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>9:00 a.m
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Naturales</td>
        </tr>
        <tr>10:00 a.m
          <td></td>
          <td></td>
          <td></td>
          <td>Matematicas</td>
          <td></td>
          <td></td>
        </tr>
        <tr>11:00 a.m
          <td></td>
          <td></td>
          <td>Sociales</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>12:00 p.m
          <td></td>
          <td></td>
          <td></td>
          <td>Fisica</td>
          <td></td>
          <td></td>
        </tr>
        <tr>13:00 p.m
          <td></td>
          <td>Quimica</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>14:00 p.m
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Ed Fisica</td>
          <td></td>
        </tr>
        <tr>15:00 p.m
          <td></td>
          <td></td>
          <td></td>
          <td>Español</td>
          <td></td>
        </tr>
      </tbody>

    </table>

    </div>
  </div>


